<!DOCTYPE html>
    <%- include('../partials/head'); %>
<body class="container">
    <%- include('../partials/header', {pagina: 'sobre'}); %>
    
    <main>
        <div class="jumbotron container-fluid py-5 px-3 main-div">
            <h1>Sobre mim</h1>
            <p>Oi sou Mayuri Arakaki aluna de programação da Rocketseat</p>
        </div>
    </main>

    <%- include('../partials/footer'); %>
    
</body>
</html>